#canvas1{
    border: 2px solid red;
    background-color: #fff;
    border-radius: 20px;
}

.hide{
    display: none;
}

.btn{
	display: inline-block;
}

.show{
	display: inline-block;
}

#btn1, #btn2, .btnDiff{
	padding: 5px 10px;
	border: 1px #000 solid;
	border-radius: 10px;
	font-size: 20px;
	transition: 0.2s;
	cursor: pointer;
}

#btn1:hover, #btn2:hover, .btnDiff:hover{
	background-color: #000;
	color: #fff;
}

.btnDiff{
	margin: 10px 0;
	padding: 5px 10px;
	border: 1px #000 solid;
	border-radius: 10px;
	font-size: 20px;
	transition: 0.2s;
	cursor: pointer;
}